    @font-face {
    font-family: 'WorkSans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');

}
.accordion {
    width: 520px;
    height: max-content;
    background: white;
    border-radius: 5%;
    padding: 30px 2px;
    font-family: 'WorkSans';
    z-index: 1;
}
.head{
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* justify-content: space-around; */
}
h1{
    margin-left: 15px;
}
.item {
    margin: 5px;
    padding: 15px 35px;
   

}


.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    color: gray;
}

.content.show {
    height: auto;
    min-height: 100px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}



.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

h3:hover{
    color: hsl(292, 16%, 49%);
}